body {
  max-height: 100vh;
  display: flex;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 650px;
  gap: 2px;
}

.item {
  padding: 1em;
  border: 1px solid #000000;
  border-radius: 2.5px;
  text-align: center;
}

#clear {
  margin: 10px;
  padding: 8px;
}